
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(#021018,#202C33,#374249);         
}

a, p, h1, h2, h3, h4 {
    font-family: 'Goldman';
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
list-style: none;
text-decoration: none;    
}

header {
    height: 10vh;
    width: 100%;
    background-color: black;
}

header nav {
    background-color: gray;
    height: 100%;
    width: 100%;
}

header > nav > ul {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul > li > ul {
    display: none;
}

header > nav > ul > li:hover > ul {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

header > nav > ul > li:nth-child(1) {
    width: 100px;
    height: 80%;
}

.navlogo  {
    display: block;
    background-image: url("pics/trion-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.navcart {
    background-image: url();
    width: 45px;
    height: 45px;
}

.navaccount {
    background-image: url();
    width: 54px;
    height: 54px;
}

label, input {
    display: block;
}