
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

:root {
    --metal-red: linear-gradient(to right, #310202 0% 25%, #6A0F0F 50%, #310202 75% 100%);
    --metal-grey: linear-gradient(#000000, #FFFFFF 40%, #FFFFFF 60%, #000000);
    --focus-color: cornflowerblue;
    --primary: #000E16;
    --custom-color-1: hsl(0, 0%, 0%);
    --custom-color-2: hsl(0, 97%, 14%);
    --custom-color-3: hsl(186, 88%, 20%);
    --custom-color-4: hsl(234, 93%, 12%);
    --custom-color-5: hsl(261, 93%, 12%);
    --custom-color-6: hsl(22, 85%, 43%);
    --custom-color-7: hsl(0, 86%, 34%);
    --custom-color-8: hsl(56, 90%, 49%);
    --custom-color-9: hsl(130, 94%, 14%);
    --custom-color-10: hsl(129, 91%, 5%);
}

/*-------Elements-------*/

* {
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: inherit;
    margin: 0; 
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

a, p, label, h1, h2, h3, h4 {
    font-family: 'Goldman';
    margin: 0;      
    color: white;
}

:focus-visible {
    box-shadow: 0 0 5px 3px var(--focus-color);
    outline: none;
}

h1,
h2:not(:has(> span)),
h3:not(:has(> span)),
span {
    background-image: var(--metal-grey);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h3 {
    font-size: 2em;
}

label {
    display: block;
    color: white;
}

input, textarea {
    /* background-image: var(--metal-grey-light); */
    border: none;
    border-radius: 2px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px inset;
    font-family: Arial, Helvetica, sans-serif;
}

textarea::placeholder {
    line-height: 2rem;
}

input {
    height: 3em;
}

textarea {
    height: 5em;
    resize: vertical;
    max-height: 50rem;
    min-height: 1em;
    width: 100%;
}

button {
    cursor: pointer;
    padding: 0;
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}


/*---------------------*/

/*-------Classes-------*/

.mobile-only {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.full {
    width: auto;
}

.text-wrapper {
    overflow: visible;
}

section.full {  
    height: 40rem;
    justify-content: end;
    padding: 2rem;
}

section.full.img {
    background-size: cover;
}

section.full .text-wrapper {
    height: fit-content;
    width: 50%;
    display: block;
    z-index: 1;
}

section.slanted {
    height: 35rem;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    border: solid 1rem var(--primary);
}

section.slanted img {
    height: 100%;
    width: 60%;
    clip-path: polygon(0 100%, 0 0, 70% 0, 100% 100%, 0 100%);
    object-fit: cover;
}

section.slanted .text-wrapper {
    height: fit-content;
    padding: 1rem;
    max-width: 40%;
    margin: auto;
}

section.slanted .text-wrapper .button {
    margin-top: 1rem;
}

/*TODO*/
section.slanted.img-right img {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 30% 0);
    order: 1;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.no-button {
    color: white;
    background: none;
    border: none;
    font-family: 'Goldman';
}

.button {
    position: relative;
    padding: 1em 2em;
    border: solid 1px white;
    border-radius: 10px;
    background-image: var(--metal-red);
    background-size: 200% 100%;
    background-position: 50% 0;
    color: white;
    font-family: 'Goldman';
    cursor: pointer;
    width: fit-content;
    transition: background-position 200ms ease-out;
}

.button:hover,
.button-visible {
    background-position: 80% 0;
}

.button:active {
    filter: brightness(.8);
}

.img {
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    background-position: center;
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.hidden {
    visibility: hidden;
}

.card-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 81px;
    max-width: 1300px;
    padding: 20px;
}
.card-grid-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 81px;
    max-width: 5%;
    margin: 50px auto;
}
.card-container {
    max-width: 5%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    padding: 2rem;
}

.card-container-2{
    display: flex;
    justify-items: space-evenly;
    align-items: ce;
    margin: 25px auto;
    flex-wrap: wrap;
    gap: 25px;
    padding: 2rem;
}

.card {
    background-color: #c4c4c4;
    box-shadow: 0 0 10px;
    font-size: 17px;
}
.card-2{
    background-color: #c4c4c4;
    box-shadow: 0 0 10px;
    font-size: 17px;
}

.card img{
    background-image: url("pics/no-photo.jpg");
    width: 304px;
    height: auto; 
}

.first-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.rich-img{
    display: flex;
    justify-content: flex-start;
} 

.intro-richard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 577px; 
    height: auto;
    padding: 20px;
}

.layout-rich{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.h2-contact{
    background-color: #000000;
    display: flex;
    justify-content: center;
    font-size: 80px; 
    padding-top: 10rem; 
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 30px;
    width: 577px;
    height: auto;
}

.contact-us-main {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 25rem;
}

.logo-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    padding-top: 2rem;
    height: 100%;
}

.logo-title .img {
    background-image: url(pics/icons/trion-logo.png);
    height: 50%;
    display: block;
    width: 15vw;
    min-height: 60px;
}

.logo-title h1 {
    width: fit-content;
    font-size: calc(1rem + 5vw);
}


#customize {
    background-color: #000000;
}

#customize header {
    height: 35%;
    position: relative;
    justify-content: space-between;
    padding: 2rem;
}

.save {
    font-size: 2em;
    height: fit-content;
}

.customize-img {
    display: flex;
    justify-content: center;
    transform: translateY(-10rem);
}

.product {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
}

.x-icon{
    background-image: url(pics/icons/x-icon.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh; 
    width: 100vw; 
    padding: 0 2.5rem;
    background-color: hsl(0, 0%, 0%);
    grid-gap: 2rem;
}

#customize .page-wrapper {
    position: relative;
    top: 0;
    height: 100vh;
    max-height: 100vh;
}

#customize main {
    height: 65%;
}

.customization-exterior-car {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#customize .customization-exterior-car {
    height: 50%;
    width: 70%
}

#settings .customization-exterior-car {
    margin: 3rem 0;
}

.customization-exterior-car img {
    object-fit: contain;
}

.customization-exterior-car::after {
    content: "";
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: hsl(0, 0%, 0%);
    /* opacity: 0.5; */
    mix-blend-mode: color;                
}

.customization-nav {
    padding: 1rem; 
    height: 50%;
    justify-content: space-between;
}

.customizor-type {
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 19%;
}

.customizor-type h2 {
    -webkit-text-fill-color: unset;
    font-size: 2em;
    font-weight: 100;
}

.button-left,
.button-right {
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
}

.button-left {
    background-image: url(pics/icons/left-arrow.svg);
}

.button-right {
    background-image: url(pics/icons/right-arrow.svg);
}

.customizor-nav-secondary {
    height: 29%;
    /* border: solid 1px white; */
    justify-content: center;
    align-items: center;
}

.customizor-nav-secondary .tab {
    background: none;
    color: white;
    border: none;
    font-family: "Goldman";
    font-size: 2em;
}

.customizor-nav-secondary ul {
    gap: 2rem;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 80%;
}

.color-select {
    display: flex;
    justify-content: center;
    height: 39%;
    gap: 2rem;
}

.color-select button {
    height: 70%;
}

.color-select .content {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%;
    max-width: 80%;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 4px;
}

.color-select label {
    display: inline-block;
    position: relative;
    aspect-ratio: 1/1;
    height: 70%; 
    background-color: hsl(30, 50%, 75%);
    cursor: pointer;
    transition: 100ms all ease-in-out;
    border: solid 1px rgb(104, 104, 104);
}

.color-select label.active {
    border: solid 3px white;
}

.color-select label:after {
    content: '';
    background-image: linear-gradient(#000000, transparent);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-select label:has(+ input:focus-visible) {
    box-shadow: 0 0 5px 3px var(--focus-color);
    outline: none;
}

.color-select label + label {
    margin-left: 2.5em; 
}

.color-select input {
    position: fixed;
    top: -9999px;
    display: block;
}

.custom-color-1::after,
label[for=exterior-color-1] {
    background-color: var(--custom-color-1);
}

.custom-color-2::after,
label[for=exterior-color-2] {
    background-color: var(--custom-color-2);
}

.custom-color-3::after,
label[for=exterior-color-3] {
    background-color:var(--custom-color-3);
}

.custom-color-4::after,
label[for=exterior-color-4] {
    background-color: var(--custom-color-4);
}

.custom-color-5::after,
label[for=exterior-color-5] {
    background-color: var(--custom-color-5);
}

.custom-color-6::after,
label[for=exterior-color-6] {
    background-color: var(--custom-color-6);
}

.custom-color-7::after,
label[for=exterior-color-7] {
    background-color: var(--custom-color-7);
}

.custom-color-8::after,
label[for=exterior-color-8] {
    background-color: var(--custom-color-8);
}

.custom-color-9::after,
label[for=exterior-color-9] {
    background-color: var(--custom-color-9);
}

.custom-color-10::after,
label[for=exterior-color-10] {
    background-color: var(--custom-color-10);
}



/* #color-1:checked ~ .color-select > label:nth-of-type(1), 
#color-2:checked ~ .color-select > label:nth-of-type(2),
#color-3:checked ~ .color-select > label:nth-of-type(3),
#color-4:checked ~ .color-select > label:nth-of-type(4),
#color-5:checked ~ .color-select > label:nth-of-type(5),
#color-6:checked ~ .color-select > label:nth-of-type(6),
#color-7:checked ~ .color-select > label:nth-of-type(7),
#color-8:checked ~ .color-select > label:nth-of-type(8),
#color-9:checked ~ .color-select > label:nth-of-type(9),
#color-10:checked ~ .color-select > label:nth-of-type(10){
    transform: scale(1.3);
} */

.carousel-container {
    animation: calc(1s * 4) infinite ease-in-out carousel-transition;
    animation-delay: calc(.9s * 4);
}

.carousel-tabs {
    display: flex;
    justify-content: space-between;
}

.carousel_2 {
    animation: calc(2s * 4) infinite ease-in-out carousel-2;
}

div[class*=carousel_] {
    position: relative;
}

div[class*=carousel_]:nth-of-type(2) {
    animation-delay: calc(1s * 4);
}

div[class*=carousel_]:nth-of-type(3) {
    animation-delay: calc(2s * 4);
}

#settings main {
    padding: 10rem 5% 4rem 5%;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.settings-nav,
.settings-content {
    border: solid 2px white;
    border-radius: 30px;
    padding: 1rem;
    height: 40rem;
}

.settings-nav {
    width: fit-content;
    margin-right: 2rem;
}

.settings-nav li {
    border-bottom: solid 1px grey;
    padding-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.settings-nav .active {
    color: #c90000;
}

.settings-content {    
    flex-grow: 1
}

.custom-car .buttons {
    justify-content: space-evenly;
}
  
/*------------------------*/

/*-------Header/Nav-------*/

header:not(#customize header) {
    height: 5rem;
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    z-index: 1;
}

.navlogo h1 {
    position: fixed;
    top: -9999px
}

header button.no-button {
    font-size: calc(1rem + .5vw);
}

header .navlogo {
    width: 5vw;
    position: relative;
}

#menu-burger, #burger-cb {
    display: none;
}

header li > a, header li > button {
    text-shadow: black 0 4px 4px;
    transition: color 300ms ease;
    display: block;
}

header li:hover:not(:focus-within) > a,
header li:focus-within > a {
    color: #c90000;
}

header > nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(1rem + .5vw);
    color: white;
}

header > nav > div {
    margin-left: auto;
}

header > nav > div > a {
    margin: 0 1rem 0 1rem;
}

header > nav > ul {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul > li {
    margin: 0 1em 0 1em;
    width: fit-content;
}

header .dropdown {
    display: none;
    position: absolute;
    transition: opacity 300ms ease;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    display: block;
    animation: dropdown-open 200ms ease-out forwards;
}

@keyframes dropdown-open {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.navlogo {
    display: block;
    background-image: url("pics/icons/trion-logo.png");
    height: 90%;
    width: 50px;
    margin: 0 1rem;
}

.navcart {
    background-image: url("pics/icons/cart-empty-white.svg");
    width: 50px;
    height: auto;
}

.navaccount {
    background-image: url("pics/icons/account-icon-white.svg");
    width: 50px;
    height: 50px;
}

section[role=hero] {
    overflow-x: hidden;
}

#home main section:nth-of-type(1) {
    background-image: url("pics/cars/Nemesis_blk_corrug-1024x633.png");
}

#home main section:nth-of-type(3) {
    background-image: url("pics/cars/trionnemesissupercars.jpg");
}

/*--------------*/


.hero {
    display: flex;
    height: 90vh;
    width: 100vw;
    min-width: 100vw;
    justify-content: center;
    padding-bottom: 5rem;
    background-position: bottom;
}

.hero article {
    z-index: 1;
}

.hero article h2 {
    font-size: calc(2rem + 2vw);
    margin-bottom: 0;
    position: relative;
}
     
.shaded {
    position: relative;
}

.shaded::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 50%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.608);
    z-index: -1;
    box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.608);
}

div.shaded::before {
    top: 5%;
    bottom: 5%;
    height: auto;
}

.shadow-top-bottom {
    position: relative;
}

.shadow-top-bottom::after {
    position: absolute;
    content: "";
    box-shadow: inset 0 2rem 2rem -7px rgba(0,0,0,1), inset 0 -2rem 2rem -7px rgba(0,0,0,1);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero article p {
    font-size: calc(1rem + .4vw);
}

.hero article a {
    font-size: calc(1rem + .5vw);
    margin-top: 2rem;
}

#hero-press {
    height: 90vh;
    background-image: url("pics/cars/front.png");
    z-index: -1;  
}
#hero-nemesis {
    height: 90vh;
    background-image: url("pics/cars/orange-nemesis.png");
    z-index: -1;  
}

#hero-our-story {
    height: 90vh;
    background-image: url("pics/cars/trionsupercarsofficial1.jpg");
    z-index: -1;  
}

#hero-black{
    height: 90vh;
    background-image: url("pics/cars/black-ops1-1.png");
    z-index: -1;  
}
/*-------Footer-------*/
#to-top {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #6d6d6d;
   height: 35px;
}

footer {
    background-color: #141414;
}

#footer-main {
    margin-top: 2rem;
    justify-content: space-between;
}

#footer-contact {
    padding: 0 5%;
    width: 70%;
}

#footer-contact h3 {
    text-align: center;
}

#footer-contact form {
    justify-content: space-between;
}

#footer-contact form > div:not(:last-of-type) {
   width: calc(94% / 2);
   margin: 10px 0;
}

#footer-contact form div:last-of-type {
    width: 100%;
    margin: 10px 0;
}

#footer-foot {
    align-items: center;
    justify-content: center;
}

#footer-foot ul li, #footer-foot p {
    margin: 0 1em;
    padding: 5px 0;
}

#footer-foot ul li a, #footer-foot p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

[type=submit] {
    margin-top: 1rem;
}

.footer-nav {
    flex-direction: column;
    margin-left: 1rem;
    padding-right: 2rem;
}

.footer-nav ul li {
    margin-bottom: 1em;
}

.footer-nav ul li a {
    color: #A5A5A5;
    transition: color 300ms ease;
}

.footer-nav ul li a:hover,
.footer-nav ul li a:focus-visible {
    color: #ffffff;
}

.connections {
    width: 350px;
    justify-content: space-between;
    margin: auto;
    max-width: 350px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.connections li {
    width: calc(100% / 7);
    max-width: 50px;
    margin: 0 1rem;
}

.connections a {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    display: block;
    
}

.connections a img {
    width: 100%;
}

footer hr {
    border-color: #282828;
}
/*--------------*/

/*-------Ids-------*/

#home .hero:nth-of-type(1) {
    background-image: url("pics/cars/car-orange-cloudy.png");
}
#home .hero:nth-of-type(2) {
    background-image: url("pics/cars/black-ops1-1.png");
}


/*-----------------*/

/*-------Mobile/Tablet-------*/
@media screen and (max-width: 768px) {

    .mobile-only {
        display: initial;
    }

    header > nav a,
    header button.no-button {
        font-size: calc(1rem + 1vw);
    }

    .navlogo {
        display: none;
    }

    #nav-list {
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10vw;
        padding-top: 25vh;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #021018;
        animation: hidden 200ms ease-out forwards;
    }

    #menu-burger {
        display: block;
        background-image: url("pics/icons/burger.svg");
        height: 50px;
        width: 50px;
        margin: 0 1rem;
        cursor: pointer;
        z-index: 11;
    }

    #menu-burger:has(+ #burger-cb:focus-visible) {
        box-shadow: 0 0 5px 3px var(--focus-color);
        outline: none;
    }

    #burger-cb {
        height: 50px;
        width: 50px;
        display: block;
        position: fixed;
        top: -9999px
    }

    header:has(#burger-cb:checked) ~ main section {
        z-index: -1;
    }

    #menu-burger:has(+ #burger-cb:checked) {
        position: fixed;
        overflow: hidden;
        animation: 150ms burger-checked forwards ease-in-out;
    }

    /* #menu-burger:has(+ #burger-cb:not(:checked)) {
        animation: 150ms burger-unchecked forwards ease-in-out;
    } */

    #burger-cb:checked + #nav-list {
        display: flex;
        animation: 150ms menu-open forwards ease-in-out;
    }

    /* #burger-cb:not(:checked) + #nav-list {
        animation: 150ms menu-close forwards ease-in-out;
    } */

    #nav-list > li {
        margin: 1rem 0;
        font-size: 3vw;
    }

    #nav-list ul {
        position: relative;
    }

    #nav-list > li > ul > li > a:-webkit-any-link {
        transform: translateX(2rem);
    }

    #nav-list button:after {
        content: " >";
    }

    header .dropdown {
        display: block;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover {
        animation: dropdown-open-mobile 100ms ease-out forwards;
    }
    
    .hero {
        height: 70vh;
        background-size: cover;
        background-position: top;
        max-height: 1000px;
    }

    section.full .text-wrapper {
        width: 100%;
        max-width: none;
    }

    section.slanted .text-wrapper {
        max-width: 95%;
    }

    section.full {
        align-items: center;
    }

    section.slanted {
        flex-direction: column;
        min-height: 40rem;
        height: auto;
    }

    section.slanted img,
    section.slanted.img-right img {
        width: 100%;
        height: 100%;
        order: 1;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%, 100% 0);
    }

    #footer-main {
        flex-flow: column nowrap;
    }

    #footer-contact {
        display: none;
    }

    .footer-nav ul li {
        text-align: center;
        margin-bottom: 2em;
    }


    .connections {
        max-width: 300px;
    }

    .connections li {
        margin: 0 10px;
    }
}

@keyframes burger-checked {
    0% {opacity: 1;}
    30% {
        opacity: 0;
        background-image: url("pics/icons/burger.svg");
        transform: rotate(0deg);
    }
    31% {
        background-image: url("pics/icons/close-white.svg");
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        background-image: url("pics/icons/close-white.svg");
        transform: rotate(0deg);
    }
}

@keyframes burger-unchecked {
    0% {opacity: 1;}
    30% {
        opacity: 0;
        background-image: url("pics/icons/close-white.svg");
        transform: rotate(0deg);
    }
    31% {
        background-image: url("pics/icons/close-white.svg");
        transform: rotate(-180deg);
    }
    100% {
        opacity: 1;
        background-image: url("pics/icons/burger.svg");
        transform: rotate(0deg);
    }
}

@keyframes menu-open {
    0% {transform: translate(-100%);}
    100% {transform: translate(0%);}
}

@keyframes menu-close {
    0% {transform: translate(0%);}
    99% {display: flex;}
    100% {transform: translate(-100%); display: none;}
}

@keyframes dropdown-open {
    0% {
        opacity: 0;
        transform: translateY(-15%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes dropdown-open-mobile {
    0% {
        display: block;
        visibility: visible;
        opacity: 0;
        transform: translateX(-15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
        visibility: visible;
        pointer-events: fill;
    }
}

@keyframes hidden {
    0% {display: none;}
    100% {display: none;}
}

@keyframes carousel-2 {
    0%, 49.99% {
        order: 0;
        visibility: visible;
    }

    50%, 100% {
        order: 1;
        visibility: hidden;
    }
}

@keyframes carousel-transition {
    0% {
        filter: none;
    }

    8%, 12% {
        filter: brightness(0%) blur(2px);
    }

    20%, 100% {
        filter: none;
    }
}