
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

:root {
    --metal-red: linear-gradient(to right, #310202 0% 25%, #6A0F0F 50%, #310202 75% 100%);
    --metal-grey: linear-gradient(#3C3C3C, #FFFFFF, #3C3C3C);
    --metal-grey-light: linear-gradient(to right, #D9D9D9, #B9B9B9)
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image:linear-gradient(#021018,#202C33,#374249);
}

a, p, label, h1, h2, h3, h4 {
    font-family: 'Goldman';
    margin: 0;
    color: white;
}

h2 {
    background-image: var(--metal-grey);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

label {
    display: block;
    color: white;
}

input, textarea {
    background-image: var(--metal-grey-light);
    border: none;
    border-radius: 2px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px inset;
    font-family: Arial, Helvetica, sans-serif;
}

textarea::placeholder {
    line-height: 2rem;
}

input {
    height: 3em;
}

textarea {
    height: 5em;
    resize: vertical;
    max-height: 50rem;
    min-height: 1em;
    width: 100%;
}


button {
    cursor: pointer;
    padding: 0;
}


a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.no-button {
    color: white;
    background: none;
    border: none;
    font-family: 'Goldman';
}

.button {
    position: relative;
    padding: 1em 2em;
    border: solid 1px white;
    border-radius: 10px;
    background-image: var(--metal-red);
    background-size: 200% 100%;
    background-position: 50% 0;
    color: white;
    font-family: 'Goldman';
    transition: all 200ms ease-out;
}

.button:hover {
    background-position: 80% 0;
}

.img {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    background-position: center;
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    height: 5rem;
    width: 100%;
    position: absolute;
    margin-top: 1rem;
}

header li > a, header li > button {
    text-shadow: black 0 4px 4px;
    transition: color 300ms ease;
    display: block;
}

header li:hover:not(:focus-within) > a {
    color: #ff0000;
}

header > nav {
    /* border: solid 1px white; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    color: white;
}

header > nav > div {
    margin-left: auto;
}

header > nav > div > a {
    margin: 0 1rem 0 1rem;
}

.login-overlay {
    background-color: black;
    position: absolute;
    right: 0;
    top: 5rem;
}

header > nav > ul {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul > li {
    margin: 0 1em 0 1em;
    width: fit-content;
}

header .dropdown {
    display: block;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 300ms ease;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.navlogo {
    display: block;
    background-image: url("pics/trion-logo.png");
    height: 90%;
    width: 50px;
    margin: 0 1rem;
}

.navcart {
    background-image: url("pics/cart-empty-white.svg");
    width: 50px;
    height: auto;
}

.navaccount {
    background-image: url("pics/account-icon-white.svg");
    width: 50px;
    height: 50px;
}

#hero {
    height: 90vh;
    background-image: url("pics/car-orange-cloudy.png");
    z-index: -1;
}

#to-top{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #6d6d6d;
   height: 35px;
}

footer {
    background-color: #141414;
}

#footer-main {
    margin-top: 2rem;
    justify-content: space-between;
}

#footer-contact {
    padding: 0 5%;
    width: 70%;
}

#footer-contact form {
    justify-content: space-between;
}

#footer-contact form > div:not(:last-of-type) {
   width: calc(94% / 2);
   margin: 10px 0;
}

#footer-contact form div:last-of-type {
    width: 100%;
    margin: 10px 0;
}

#footer-foot {
    align-items: center;
    justify-content: center;
}

#footer-foot ul li, #footer-foot p {
    margin: 0 1em;
    padding: 5px 0;
}

#footer-foot ul li a, #footer-foot p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

[type=submit] {
    margin-top: 1rem;
}

.footer-nav {
    flex-direction: column;
    margin-left: 1rem;
    padding-right: 2rem;
}

.footer-nav ul li {
    margin-bottom: 1em;
}

.footer-nav ul li a {
    color: #A5A5A5;
    transition: color 300ms ease;
}

.footer-nav ul li a:hover {
    color: #ffffff;
}

.connections {
    width: 350px;
    justify-content: space-between;
    margin: auto;
    max-width: 350px;
    margin-top: 2rem;
}

.connections a {
    width: calc(100% / 7);
    max-width: 50px;
    position: relative;
    margin: 0 1rem;
}

.connections a img {
    width: 100%;
    bottom: 0;
}

footer hr {
    border-color: #282828;
}

@media screen and (min-width: 1024px) {
    header > nav,
    header button.no-button {
        font-size: calc(1rem + .5vw);
    }

    header .img {
        width: 5vw;
    }
}

@media screen and (max-width: 768px) {
    
}
